/*EXTEND*/

.primerEstilo {
    height: 200px;
}

.editor__circle {
    width: 200px;
    @extend .primerEstilo;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -200px;
    right: -150px;
    color: white;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
}

.editor__item {
    @extend .primerEstilo;
    position: relative;
    overflow: hidden;
}
